
.contenedor-imagen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../../img/2741840.jpg');
  background-position: center;
  background-size: cover;
  width: 80%;
  max-width: 600px;
  height: 200px;
  max-height: 500px;
}

.mensaje-bienvenida{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  height: auto;
}

@media (min-width: 768px){
  .contenedor-imagen{
    height: 300px;
  }
}

@media (min-width: 992px){
  .contenedor-imagen{
    height: 50vh;
    max-height: 80vh;
  }
}