
.contenedor-imagen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-image: url('../../img/2648320.jpg');
  background-position: center;
  background-size: cover;*/
  width: 80%;
  max-width: 500px;
  height: 80vh;
  max-height: 500px;
}

.mensaje-bienvenida{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  height: auto;
}